# Github Repository URL

[Link to our repo](https://github.com/Triakshan/MLG382-CYO-Project--Group-C)

# 1. Problem Statement

# 2. Hypothesis Generation

# 3. Prepare Data

## Import the libraries

In [1]:
import numpy as np
import pandas as pd

In [2]:
df = pd.read_csv('../../data/data.csv')
print(df.info())
df.head()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10002 entries, 0 to 10001
Data columns (total 14 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   RowNumber        10002 non-null  int64
 1   CustomerId       10002 non-null  int64
 2   Surname          10002 non-null  object
 3   CreditScore      10002 non-null  int64
 4   Geography        10001 non-null  object
 5   Gender           10002 non-null  object
 6   Age              10001 non-null  float64
 7   Tenure           10002 non-null  int64
 8   Balance          10002 non-null  float64
 9   NumOfProducts    10002 non-null  int64
 10  HasCrCard        10001 non-null  float64
 11  IsActiveMember   10001 non-null  float64
 12  EstimatedSalary  10002 non-null  float64
 13  Exited           10002 non-null  int64
dtypes: float64(5), int64(6), object(3)
memory usage: 1.1+ MB
None

,RowNumber,CustomerId,Surname,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited
0,1,15634602,Hargrave,619,France,Female,42.0,2,0.00,1,1.0,1.0,101348.88,1
1,2,15647311,Hill,608,Spain,Female,41.0,1,83807.86,1,0.0,1.0,112542.58,0
2,3,15619304,Onio,502,France,Female,42.0,8,159660.80,3,1.0,0.0,113931.57,1
3,4,15701354,Boni,699,France,Female,39.0,1,0.00,2,0.0,0.0,93826.63,0
4,5,15737888,Mitchell,850,Spain,Female,43.0,2,125510.82,1,NaN,1.0,79084.10,0

## Understanding each feature

## Remove irrelevant columns

In [3]:
irrelevant_features = ['RowNumber', 'CustomerId', 'Surname']

df.drop(columns=irrelevant_features, inplace=True)
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10002 entries, 0 to 10001
Data columns (total 11 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   CreditScore      10002 non-null  int64
 1   Geography        10001 non-null  object
 2   Gender           10002 non-null  object
 3   Age              10001 non-null  float64
 4   Tenure           10002 non-null  int64
 5   Balance          10002 non-null  float64
 6   NumOfProducts    10002 non-null  int64
 7   HasCrCard        10001 non-null  float64
 8   IsActiveMember   10001 non-null  float64
 9   EstimatedSalary  10002 non-null  float64
 10  Exited           10002 non-null  int64
dtypes: float64(5), int64(4), object(2)
memory usage: 859.7+ KB

# 4. Exploratory Data Analysis (EDA)

# 5. Preprocess Data

## Analyze the data

In [4]:
import skimpy as sk
sk.skim(df)

╭──────────────────────────────────────────────── skimpy summary ─────────────────────────────────────────────────╮
│          Data Summary                Data Types                                                                 │
│ ┏━━━━━━━━━━━━━━━━━━━┳━━━━━━━━┓ ┏━━━━━━━━━━━━━┳━━━━━━━┓                                                          │
│ ┃ dataframe         ┃ Values ┃ ┃ Column Type ┃ Count ┃                                                          │
│ ┡━━━━━━━━━━━━━━━━━━━╇━━━━━━━━┩ ┡━━━━━━━━━━━━━╇━━━━━━━┩                                                          │
│ │ Number of rows    │ 10002  │ │ float64     │ 5     │                                                          │
│ │ Number of columns │ 11     │ │ int32       │ 4     │                                                          │
│ └───────────────────┴────────┘ │ string      │ 2     │                                                          │
│                                └─────────────┴───────┘                                                          │
│                                                     number                                                      │
│ ┏━━━━━━━━━━━━━━━━━━━━┳━━━━━┳━━━━━━━┳━━━━━━━━━┳━━━━━━━━┳━━━━━━┳━━━━━━━━┳━━━━━━━━━┳━━━━━━━━━┳━━━━━━━━━┳━━━━━━━━┓  │
│ ┃ column_name        ┃ NA  ┃ NA %  ┃ mean    ┃ sd     ┃ p0   ┃ p25    ┃ p50     ┃ p75     ┃ p100    ┃ hist   ┃  │
│ ┡━━━━━━━━━━━━━━━━━━━━╇━━━━━╇━━━━━━━╇━━━━━━━━━╇━━━━━━━━╇━━━━━━╇━━━━━━━━╇━━━━━━━━━╇━━━━━━━━━╇━━━━━━━━━╇━━━━━━━━┩  │
│ │ CreditScore        │   0 │     0 │     650 │     97 │  350 │    580 │     650 │     720 │     850 │  ▂▅▇▆▃ │  │
│ │ Age                │   1 │  0.01 │      39 │     10 │   18 │     32 │      37 │      44 │      92 │  ▃▇▃▁  │  │
│ │ Tenure             │   0 │     0 │       5 │    2.9 │    0 │      3 │       5 │       7 │      10 │ ▆▇▃▇▇▆ │  │
│ │ Balance            │   0 │     0 │   76000 │  62000 │    0 │      0 │   97000 │  130000 │  250000 │ ▇▂▆▅▁  │  │
│ │ NumOfProducts      │   0 │     0 │     1.5 │   0.58 │    1 │      1 │       1 │       2 │       4 │  ▇ ▇   │  │
│ │ HasCrCard          │   1 │  0.01 │    0.71 │   0.46 │    0 │      0 │       1 │       1 │       1 │ ▃    ▇ │  │
│ │ IsActiveMember     │   1 │  0.01 │    0.51 │    0.5 │    0 │      0 │       1 │       1 │       1 │ ▇    ▇ │  │
│ │ EstimatedSalary    │   0 │     0 │  100000 │  58000 │   12 │  51000 │  100000 │  150000 │  200000 │ ▇▇▇▇▇▇ │  │
│ │ Exited             │   0 │     0 │     0.2 │    0.4 │    0 │      0 │       0 │       0 │       1 │ ▇    ▂ │  │
│ └────────────────────┴─────┴───────┴─────────┴────────┴──────┴────────┴─────────┴─────────┴─────────┴────────┘  │
│                                                     string                                                      │
│ ┏━━━━━━━━━━━━━━━━━━━━━━━━━━━┳━━━━━━━━━┳━━━━━━━━━━━━┳━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━┳━━━━━━━━━━━━━━━━━━━━━━━━━━┓  │
│ ┃ column_name               ┃ NA      ┃ NA %       ┃ words per row                ┃ total words              ┃  │
│ ┡━━━━━━━━━━━━━━━━━━━━━━━━━━━╇━━━━━━━━━╇━━━━━━━━━━━━╇━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━╇━━━━━━━━━━━━━━━━━━━━━━━━━━┩  │
│ │ Geography                 │       1 │       0.01 │                            1 │                    10001 │  │
│ │ Gender                    │       0 │          0 │                            1 │                    10002 │  │
│ └───────────────────────────┴─────────┴────────────┴──────────────────────────────┴──────────────────────────┘  │
╰────────────────────────────────────────────────────── End ──────────────────────────────────────────────────────╯

## Handling duplicate values

In [5]:
print(df.duplicated().value_counts())
df.drop_duplicates()

False    10000
True         2
Name: count, dtype: int64

,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited
0,619,France,Female,42.0,2,0.00,1,1.0,1.0,101348.88,1
1,608,Spain,Female,41.0,1,83807.86,1,0.0,1.0,112542.58,0
2,502,France,Female,42.0,8,159660.80,3,1.0,0.0,113931.57,1
3,699,France,Female,39.0,1,0.00,2,0.0,0.0,93826.63,0
4,850,Spain,Female,43.0,2,125510.82,1,NaN,1.0,79084.10,0
...,...,...,...,...,...,...,...,...,...,...,...
9995,771,France,Male,39.0,5,0.00,2,1.0,0.0,96270.64,0
9996,516,France,Male,35.0,10,57369.61,1,1.0,1.0,101699.77,0
9997,709,France,Female,36.0,7,0.00,1,0.0,1.0,42085.58,1
9998,772,Germany,Male,42.0,3,75075.31,2,1.0,0.0,92888.52,1
10000,792,France,Female,28.0,4,130142.79,1,1.0,0.0,38190.78,0

## Handling high and low cardinality features

In [6]:
# checking the cardinality of features
df.select_dtypes("object").nunique()

Geography    3
Gender       2
dtype: int64

## Handling empty cells

In [7]:
print(df.isnull().sum())

CreditScore        0
Geography          1
Gender             0
Age                1
Tenure             0
Balance            0
NumOfProducts      0
HasCrCard          1
IsActiveMember     1
EstimatedSalary    0
Exited             0
dtype: int64

In [8]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10002 entries, 0 to 10001
Data columns (total 11 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   CreditScore      10002 non-null  int64
 1   Geography        10001 non-null  object
 2   Gender           10002 non-null  object
 3   Age              10001 non-null  float64
 4   Tenure           10002 non-null  int64
 5   Balance          10002 non-null  float64
 6   NumOfProducts    10002 non-null  int64
 7   HasCrCard        10001 non-null  float64
 8   IsActiveMember   10001 non-null  float64
 9   EstimatedSalary  10002 non-null  float64
 10  Exited           10002 non-null  int64
dtypes: float64(5), int64(4), object(2)
memory usage: 859.7+ KB

### Fill categorical value(s)

In [9]:
df['Geography']=df['Geography'].fillna(df['Geography'].mode()[0])

df.isnull().sum()

CreditScore        0
Geography          0
Gender             0
Age                1
Tenure             0
Balance            0
NumOfProducts      0
HasCrCard          1
IsActiveMember     1
EstimatedSalary    0
Exited             0
dtype: int64

### Fill numerical value(s)

In [10]:
df['Age'].fillna(df['Age'].mean(), inplace=True)
df['HasCrCard'].fillna(df['HasCrCard'].mean(), inplace=True)
df['IsActiveMember'].fillna(df['IsActiveMember'].mean(), inplace=True)

df.isnull().sum()

CreditScore        0
Geography          0
Gender             0
Age                0
Tenure             0
Balance            0
NumOfProducts      0
HasCrCard          0
IsActiveMember     0
EstimatedSalary    0
Exited             0
dtype: int64

In [11]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10002 entries, 0 to 10001
Data columns (total 11 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   CreditScore      10002 non-null  int64
 1   Geography        10002 non-null  object
 2   Gender           10002 non-null  object
 3   Age              10002 non-null  float64
 4   Tenure           10002 non-null  int64
 5   Balance          10002 non-null  float64
 6   NumOfProducts    10002 non-null  int64
 7   HasCrCard        10002 non-null  float64
 8   IsActiveMember   10002 non-null  float64
 9   EstimatedSalary  10002 non-null  float64
 10  Exited           10002 non-null  int64
dtypes: float64(5), int64(4), object(2)
memory usage: 859.7+ KB

# 6. Modeling

In [12]:
from sklearn.model_selection import train_test_split

X = df.drop(columns=['Exited'], inplace=False)
y = df['Exited']

X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=1)

In [13]:
from sklearn.pipeline import make_pipeline
from category_encoders import OneHotEncoder
from sklearn.preprocessing import StandardScaler
from sklearn.tree import DecisionTreeClassifier
from sklearn.ensemble import RandomForestClassifier
from sklearn.linear_model import LogisticRegression

model_dt = make_pipeline(
    OneHotEncoder(use_cat_names=True), # encode cat features
    StandardScaler(), # imputation
    DecisionTreeClassifier()) # build model

model_rf = make_pipeline(
    OneHotEncoder(use_cat_names=True), # encode cat features
    StandardScaler(), # imputation
    RandomForestClassifier()) # build model

model_lr = make_pipeline(
    OneHotEncoder(use_cat_names=True), # encode cat features
    StandardScaler(), # imputation
    LogisticRegression()) # build model

# fit the model
model_dt.fit(X_train, y_train)
model_rf.fit(X_train, y_train)
model_lr.fit(X_train, y_train)

Pipeline(steps=[('onehotencoder',
                 OneHotEncoder(cols=['Geography', 'Gender'],
                               use_cat_names=True)),
                ('standardscaler', StandardScaler()),
                ('logisticregression', LogisticRegression())])

In [14]:
from sklearn.metrics import accuracy_score

y_pred = model_dt.predict(X_test)
accuracy = accuracy_score(y_test, y_pred)
print("Decision Tree Accuracy:", (accuracy*100).__round__(4))

y_pred = model_rf.predict(X_test)
accuracy = accuracy_score(y_test, y_pred)
print("Random Forest Classifier:", (accuracy*100).__round__(4))

y_pred = model_lr.predict(X_test)
accuracy = accuracy_score(y_test, y_pred)
print("Logistic Regression:", (accuracy*100).__round__(4))

Decision Tree Accuracy: 79.3103
Random Forest Classifier: 86.7566
Logistic Regression: 82.059

In [15]:
from sklearn.metrics import mean_absolute_error

# Decision Tree
# Predict the train data
y_pred_training = model_dt.predict(X_train)
y_pred_test = model_dt.predict(X_test)

# Compute MAE
print("Training MAE:", round(mean_absolute_error(y_train, y_pred_training),2))
print("Test data MAE:", round(mean_absolute_error(y_test, y_pred_test),2))

# Random Forest Regressor
# Predict the train data
y_pred_training = model_rf.predict(X_train)
y_pred_test = model_rf.predict(X_test)

# Compute MAE
print("Training MAE:", round(mean_absolute_error(y_train, y_pred_training),2))
print("Test data MAE:", round(mean_absolute_error(y_test, y_pred_test),2))

# Logistic Regression
# Predict the train data
y_pred_training = model_lr.predict(X_train)
y_pred_test = model_lr.predict(X_test)

# Compute MAE
print("Training MAE:", round(mean_absolute_error(y_train, y_pred_training),2))
print("Test data MAE:", round(mean_absolute_error(y_test, y_pred_test),2))

Training MAE: 0.0
Test data MAE: 0.21
Training MAE: 0.0
Test data MAE: 0.13
Training MAE: 0.19
Test data MAE: 0.18

In [16]:
def make_prediction(row):

    data = {
        "CreditScore": row[0],
        "Geography": row[1],
        "Gender": row[2],
        "Age": row[3],
        "Tenure": row[4],
        "Balance": row[5],
        "NumOfProducts": row[6],
        "HasCrCard": row[7],
        "IsActiveMember": row[8],
        "EstimatedSalary": row[9]
    }

    df_predict = pd.DataFrame(data, index=[0])
    prediction_dt = model_dt.predict(df_predict)[0]
    prediction_rf = model_rf.predict(df_predict)[0]
    prediction_lr = model_lr.predict(df_predict)[0]
    return f"Decision Tree: {prediction_dt}; Random Forest: {prediction_rf} Logistic Regression: {prediction_lr}"

In [17]:
print(make_prediction(pd.Series([619, 'France', 'Female', 42, 2, 0, 1, 1, 1, 101348.88]))) # Should output 1
print(make_prediction(pd.Series([608, 'Spain', 'Female', 41, 1, 83807.86, 1, 0, 1, 112542.58]))) # Should output 0

Decision Tree: 1; Random Forest: 1 Logistic Regression: 0
Decision Tree: 0; Random Forest: 0 Logistic Regression: 0

In [18]:
import joblib
# Save Model
joblib.dump(model_rf, '../../artifacts/model_1.pkl')

['../../artifacts/model_1.pkl']

In [20]:
import dash
from dash import dcc, html
from dash.dependencies import Input, Output
import joblib
import pandas as pd

# Load the trained model
model = joblib.load("../../artifacts/model_1.pkl")

# Initialize the Dash app
app = dash.Dash(__name__)

# Define the layout of the app
app.layout = html.Div([
    html.H1("Customer Churn Prediction"),

    html.Label("Credit Score"),
    dcc.Input(id="creditScore", type="number", value=619),

    html.Label("Geography"),
    dcc.Dropdown(
        id="geography",
        options=[
            {'label': 'France', 'value': 'France'},
            {'label': 'Spain', 'value': 'Spain'},
            {'label': 'Germany', 'value': 'Germany'}
        ],
        value='France'
    ),

    html.Label("Gender"),
    dcc.Dropdown(
        id="gender",
        options=[
            {'label': 'Male', 'value': 'Male'},
            {'label': 'Female', 'value': 'Female'}
        ],
        value='Female'
    ),

    html.Label("Age"),
    dcc.Input(id="age", type="number", value=42),

    html.Label("Tenure"),
    dcc.Input(id="tenure", type="number", value=2),

    html.Label("Balance"),
    dcc.Input(id="balance", type="number", value=0),

    html.Label("Num Of Products"),
    dcc.Input(id="products", type="number", value=1),

    html.Label("Has Credit Card"),
    dcc.Input(id="card", type="number", value=1),

    html.Label("Is Active Member"),
    dcc.Dropdown(
        id="member",
        options=[
            {'label': 'Yes', 'value': 1},
            {'label': 'No', 'value': 0}
        ],
        value=1
    ),

    html.Label("Estimated Salary"),
    dcc.Input(id="salary", type="number", value=101348.88),

    html.Button("Predict", id="predict_button", n_clicks=0),
    html.Div(id="prediction_output")
])

# Define callback to update prediction result
@app.callback(
    Output("prediction_output", "children"),
    [Input("predict_button", "n_clicks")],
    [Input("creditScore", "value"),
     Input("geography", "value"),
     Input("gender", "value"),
     Input("age", "value"),
     Input("tenure", "value"),
     Input("balance", "value"),
     Input("products", "value"),
     Input("card", "value"),
     Input("member", "value"),
     Input("salary", "value")]
)
def update_prediction(n_clicks, creditScore, geography, gender, age, tenure, balance, products, card, member, salary):
    if n_clicks > 0:
        # Preprocess input data
        data = pd.DataFrame({
            "CreditScore": [creditScore],
            "Geography": [geography],
            "Gender": [gender],
            "Age": [age],
            "Tenure": [tenure],
            "Balance": [balance],
            "NumOfProducts": [products],
            "HasCrCard": [card],
            "IsActiveMember": [member],
            "EstimatedSalary": [salary]
        })
        # Make prediction
        prediction = model.predict(data)[0]
        return html.Div(f"Exited: {'Yes' if prediction == 1 else 'No'}")
    else:
        return ""

# Run the app
if __name__ == "__main__":
    app.run_server(debug=True)