# Github Repository URL

https://github.com/Triakshan/MLG382-CYO-Project--Group-C

# 1. Problem Statement

# 2. Hypothesis Generation

# 3. Prepare Data

## Import the libraries

In [48]:
import numpy as np
import pandas as pd

In [49]:
df = pd.read_csv('../../data/train.csv')
print(df.info())
df.head()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 440833 entries, 0 to 440832
Data columns (total 12 columns):
 #   Column             Non-Null Count   Dtype
---  ------             --------------   -----
 0   CustomerID         440832 non-null  float64
 1   Age                440832 non-null  float64
 2   Gender             440832 non-null  object
 3   Tenure             440832 non-null  float64
 4   Usage Frequency    440832 non-null  float64
 5   Support Calls      440832 non-null  float64
 6   Payment Delay      440832 non-null  float64
 7   Subscription Type  440832 non-null  object
 8   Contract Length    440832 non-null  object
 9   Total Spend        440832 non-null  float64
 10  Last Interaction   440832 non-null  float64
 11  Churn              440832 non-null  float64
dtypes: float64(9), object(3)
memory usage: 40.4+ MB
None

,CustomerID,Age,Gender,Tenure,Usage Frequency,Support Calls,Payment Delay,Subscription Type,Contract Length,Total Spend,Last Interaction,Churn
0,2.0,30.0,Female,39.0,14.0,5.0,18.0,Standard,Annual,932.0,17.0,1.0
1,3.0,65.0,Female,49.0,1.0,10.0,8.0,Basic,Monthly,557.0,6.0,1.0
2,4.0,55.0,Female,14.0,4.0,6.0,18.0,Basic,Quarterly,185.0,3.0,1.0
3,5.0,58.0,Male,38.0,21.0,7.0,7.0,Standard,Monthly,396.0,29.0,1.0
4,6.0,23.0,Male,32.0,20.0,5.0,8.0,Basic,Monthly,617.0,20.0,1.0

## Understanding each feature

## Remove irrelevant columns

In [51]:
irrelevant_features = ['CustomerID']

df.drop(columns=irrelevant_features, inplace=True)
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 440833 entries, 0 to 440832
Data columns (total 11 columns):
 #   Column             Non-Null Count   Dtype
---  ------             --------------   -----
 0   Age                440832 non-null  float64
 1   Gender             440832 non-null  object
 2   Tenure             440832 non-null  float64
 3   Usage Frequency    440832 non-null  float64
 4   Support Calls      440832 non-null  float64
 5   Payment Delay      440832 non-null  float64
 6   Subscription Type  440832 non-null  object
 7   Contract Length    440832 non-null  object
 8   Total Spend        440832 non-null  float64
 9   Last Interaction   440832 non-null  float64
 10  Churn              440832 non-null  float64
dtypes: float64(8), object(3)
memory usage: 37.0+ MB

# 4. Exploratory Data Analysis (EDA)

## i) Univariate Analysis

### Reading random records

In [4]:
df.sample(5)

,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited
9298,742,Germany,Male,27.0,5,190125.43,2,0.0,0.0,21793.59,0
5217,724,France,Male,28.0,5,97612.12,1,1.0,1.0,96498.14,0
1962,358,Spain,Female,52.0,8,143542.36,3,1.0,0.0,141959.11,1
7345,719,France,Male,49.0,5,105918.10,1,1.0,1.0,16246.59,0
8518,599,France,Male,50.0,3,121159.65,1,0.0,0.0,4033.39,1

### Analysis of numerical attributes

In [5]:
df.describe()

,CreditScore,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited
count,10002.000000,10001.000000,10002.000000,10002.000000,10002.000000,10001.000000,10001.000000,10002.000000,10002.000000
mean,650.555089,38.922311,5.012498,76491.112875,1.530194,0.705529,0.514949,100083.331145,0.203759
std,96.661615,10.487200,2.891973,62393.474144,0.581639,0.455827,0.499801,57508.117802,0.402812
min,350.000000,18.000000,0.000000,0.000000,1.000000,0.000000,0.000000,11.580000,0.000000
25%,584.000000,32.000000,3.000000,0.000000,1.000000,0.000000,0.000000,50983.750000,0.000000
50%,652.000000,37.000000,5.000000,97198.540000,1.000000,1.000000,1.000000,100185.240000,0.000000
75%,718.000000,44.000000,7.000000,127647.840000,2.000000,1.000000,1.000000,149383.652500,0.000000
max,850.000000,92.000000,10.000000,250898.090000,4.000000,1.000000,1.000000,199992.480000,1.000000

### Visualization of the data

#### Importing Libraries for Visualization

In [6]:
import matplotlib.pyplot as plt
import plotly.express as px
import seaborn as sns

#### Categorical Visualization

#### Numerical Visualization

#### Comparing Target Values for Categorical Imbalances

# 5. Preprocess Data

## Analyze the data

In [52]:
import skimpy as sk
sk.skim(df)

╭──────────────────────────────────────────────── skimpy summary ─────────────────────────────────────────────────╮
│          Data Summary                Data Types                                                                 │
│ ┏━━━━━━━━━━━━━━━━━━━┳━━━━━━━━┓ ┏━━━━━━━━━━━━━┳━━━━━━━┓                                                          │
│ ┃ dataframe         ┃ Values ┃ ┃ Column Type ┃ Count ┃                                                          │
│ ┡━━━━━━━━━━━━━━━━━━━╇━━━━━━━━┩ ┡━━━━━━━━━━━━━╇━━━━━━━┩                                                          │
│ │ Number of rows    │ 440833 │ │ float64     │ 8     │                                                          │
│ │ Number of columns │ 11     │ │ string      │ 3     │                                                          │
│ └───────────────────┴────────┘ └─────────────┴───────┘                                                          │
│                                                     number                                                      │
│ ┏━━━━━━━━━━━━━━━━━━━━━━━━━┳━━━━━━┳━━━━━━━━┳━━━━━━━━┳━━━━━━━┳━━━━━━━┳━━━━━━━┳━━━━━━━┳━━━━━━━┳━━━━━━━┳━━━━━━━━━┓  │
│ ┃ column_name             ┃ NA   ┃ NA %   ┃ mean   ┃ sd    ┃ p0    ┃ p25   ┃ p50   ┃ p75   ┃ p100  ┃ hist    ┃  │
│ ┡━━━━━━━━━━━━━━━━━━━━━━━━━╇━━━━━━╇━━━━━━━━╇━━━━━━━━╇━━━━━━━╇━━━━━━━╇━━━━━━━╇━━━━━━━╇━━━━━━━╇━━━━━━━╇━━━━━━━━━┩  │
│ │ Age                     │    1 │      0 │     39 │    12 │    18 │    29 │    39 │    48 │    65 │ ▆▇▇▇▅▃  │  │
│ │ Tenure                  │    1 │      0 │     31 │    17 │     1 │    16 │    32 │    46 │    60 │ ▇▇▇▇▇▇  │  │
│ │ Usage Frequency         │    1 │      0 │     16 │   8.6 │     1 │     9 │    16 │    23 │    30 │ ▇▇▇▇▇▇  │  │
│ │ Support Calls           │    1 │      0 │    3.6 │   3.1 │     0 │     1 │     3 │     6 │    10 │ ▇▇▂▃▃▃  │  │
│ │ Payment Delay           │    1 │      0 │     13 │   8.3 │     0 │     6 │    12 │    19 │    30 │ ▇▇▇▇▅▅  │  │
│ │ Total Spend             │    1 │      0 │    630 │   240 │   100 │   480 │   660 │   830 │  1000 │ ▃▃▅▇▇▇  │  │
│ │ Last Interaction        │    1 │      0 │     14 │   8.6 │     1 │     7 │    14 │    22 │    30 │ ▇▇▇▆▆▆  │  │
│ │ Churn                   │    1 │      0 │   0.57 │   0.5 │     0 │     0 │     1 │     1 │     1 │ ▆    ▇  │  │
│ └─────────────────────────┴──────┴────────┴────────┴───────┴───────┴───────┴───────┴───────┴───────┴─────────┘  │
│                                                     string                                                      │
│ ┏━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━┳━━━━━━━━┳━━━━━━━━━━━┳━━━━━━━━━━━━━━━━━━━━━━━━━━━┳━━━━━━━━━━━━━━━━━━━━━━━┓  │
│ ┃ column_name                       ┃ NA     ┃ NA %      ┃ words per row             ┃ total words           ┃  │
│ ┡━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━╇━━━━━━━━╇━━━━━━━━━━━╇━━━━━━━━━━━━━━━━━━━━━━━━━━━╇━━━━━━━━━━━━━━━━━━━━━━━┩  │
│ │ Gender                            │      1 │         0 │                         1 │                440832 │  │
│ │ Subscription Type                 │      1 │         0 │                         1 │                440832 │  │
│ │ Contract Length                   │      1 │         0 │                         1 │                440832 │  │
│ └───────────────────────────────────┴────────┴───────────┴───────────────────────────┴───────────────────────┘  │
╰────────────────────────────────────────────────────── End ──────────────────────────────────────────────────────╯

## Handling duplicate values

In [53]:
print(df.duplicated().value_counts())
df.drop_duplicates()

False    440833
Name: count, dtype: int64

,Age,Gender,Tenure,Usage Frequency,Support Calls,Payment Delay,Subscription Type,Contract Length,Total Spend,Last Interaction,Churn
0,30.0,Female,39.0,14.0,5.0,18.0,Standard,Annual,932.00,17.0,1.0
1,65.0,Female,49.0,1.0,10.0,8.0,Basic,Monthly,557.00,6.0,1.0
2,55.0,Female,14.0,4.0,6.0,18.0,Basic,Quarterly,185.00,3.0,1.0
3,58.0,Male,38.0,21.0,7.0,7.0,Standard,Monthly,396.00,29.0,1.0
4,23.0,Male,32.0,20.0,5.0,8.0,Basic,Monthly,617.00,20.0,1.0
...,...,...,...,...,...,...,...,...,...,...,...
440828,42.0,Male,54.0,15.0,1.0,3.0,Premium,Annual,716.38,8.0,0.0
440829,25.0,Female,8.0,13.0,1.0,20.0,Premium,Annual,745.38,2.0,0.0
440830,26.0,Male,35.0,27.0,1.0,5.0,Standard,Quarterly,977.31,9.0,0.0
440831,28.0,Male,55.0,14.0,2.0,0.0,Standard,Quarterly,602.55,2.0,0.0
440832,31.0,Male,48.0,20.0,1.0,14.0,Premium,Quarterly,567.77,21.0,0.0

## Handling high and low cardinality features

In [54]:
# checking the cardinality of features
df.select_dtypes("object").nunique()

Gender               2
Subscription Type    3
Contract Length      3
dtype: int64

## Handling empty cells

In [55]:
print(df.isnull().sum())

Age                  1
Gender               1
Tenure               1
Usage Frequency      1
Support Calls        1
Payment Delay        1
Subscription Type    1
Contract Length      1
Total Spend          1
Last Interaction     1
Churn                1
dtype: int64

In [56]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 440833 entries, 0 to 440832
Data columns (total 11 columns):
 #   Column             Non-Null Count   Dtype
---  ------             --------------   -----
 0   Age                440832 non-null  float64
 1   Gender             440832 non-null  object
 2   Tenure             440832 non-null  float64
 3   Usage Frequency    440832 non-null  float64
 4   Support Calls      440832 non-null  float64
 5   Payment Delay      440832 non-null  float64
 6   Subscription Type  440832 non-null  object
 7   Contract Length    440832 non-null  object
 8   Total Spend        440832 non-null  float64
 9   Last Interaction   440832 non-null  float64
 10  Churn              440832 non-null  float64
dtypes: float64(8), object(3)
memory usage: 37.0+ MB

### Fill categorical value(s)

In [57]:
df['Gender']=df['Gender'].fillna(df['Gender'].mode()[0])
df['Subscription Type']=df['Subscription Type'].fillna(df['Subscription Type'].mode()[0])
df['Contract Length']=df['Contract Length'].fillna(df['Contract Length'].mode()[0])

df.isnull().sum()

Age                  1
Gender               0
Tenure               1
Usage Frequency      1
Support Calls        1
Payment Delay        1
Subscription Type    0
Contract Length      0
Total Spend          1
Last Interaction     1
Churn                1
dtype: int64

### Fill numerical value(s)

In [ ]:
df['Age'].fillna(df['Age'].mean(), inplace=True)
df['HasCrCard'].fillna(df['HasCrCard'].mean(), inplace=True)
df['IsActiveMember'].fillna(df['IsActiveMember'].mean(), inplace=True)

df.isnull().sum()

In [ ]:
df.info()

# 6. Modeling

## Split Data

In [ ]:
from sklearn.model_selection import train_test_split

X = df.drop(columns=['Exited'], inplace=False)
y = df['Exited']

X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=1)

## Model and Predict

In [ ]:
from sklearn.pipeline import make_pipeline
from category_encoders import OneHotEncoder
from sklearn.preprocessing import StandardScaler
from sklearn.tree import DecisionTreeClassifier
from sklearn.ensemble import RandomForestClassifier
from sklearn.linear_model import LogisticRegression

model_dt = make_pipeline(
    OneHotEncoder(use_cat_names=True), # encode cat features
    StandardScaler(), # imputation
    DecisionTreeClassifier()) # build model

model_rf = make_pipeline(
    OneHotEncoder(use_cat_names=True), # encode cat features
    StandardScaler(), # imputation
    RandomForestClassifier()) # build model

model_lr = make_pipeline(
    OneHotEncoder(use_cat_names=True), # encode cat features
    StandardScaler(), # imputation
    LogisticRegression()) # build model

# fit the model
model_dt.fit(X_train, y_train)
model_rf.fit(X_train, y_train)
model_lr.fit(X_train, y_train)

## Accuracy of Model

In [ ]:
from sklearn.metrics import accuracy_score

y_pred = model_dt.predict(X_test)
accuracy = accuracy_score(y_test, y_pred)
print("Decision Tree Accuracy:", (accuracy*100).__round__(4))

y_pred = model_rf.predict(X_test)
accuracy = accuracy_score(y_test, y_pred)
print("Random Forest Classifier:", (accuracy*100).__round__(4))

y_pred = model_lr.predict(X_test)
accuracy = accuracy_score(y_test, y_pred)
print("Logistic Regression:", (accuracy*100).__round__(4))

## Evaluate

In [ ]:
from sklearn.metrics import mean_absolute_error

# Decision Tree
# Predict the train data
y_pred_training = model_dt.predict(X_train)
y_pred_test = model_dt.predict(X_test)

# Compute MAE
print("Training MAE:", round(mean_absolute_error(y_train, y_pred_training),2))
print("Test data MAE:", round(mean_absolute_error(y_test, y_pred_test),2))

# Random Forest Regressor
# Predict the train data
y_pred_training = model_rf.predict(X_train)
y_pred_test = model_rf.predict(X_test)

# Compute MAE
print("Training MAE:", round(mean_absolute_error(y_train, y_pred_training),2))
print("Test data MAE:", round(mean_absolute_error(y_test, y_pred_test),2))

# Logistic Regression
# Predict the train data
y_pred_training = model_lr.predict(X_train)
y_pred_test = model_lr.predict(X_test)

# Compute MAE
print("Training MAE:", round(mean_absolute_error(y_train, y_pred_training),2))
print("Test data MAE:", round(mean_absolute_error(y_test, y_pred_test),2))

In [ ]:
features = model_lr.named_steps["onehotencoder"].get_feature_names()
coefs = model_lr.named_steps["logisticregression"].coef_[0]

In [ ]:
import numpy as np

odds_ratios = pd.Series(np.exp(coefs), index=features).sort_values()
odds_ratios.head()

In [ ]:
import matplotlib.pyplot as plt
import plotly.express as px
import seaborn as sn

In [ ]:
plt.Figure(figsize=(15,10))
fig = px.bar(
    data_frame=odds_ratios, 
    x=odds_ratios.values, 
    y=odds_ratios.index,
    title="Customer Churn Logistic Regression, Feature Importance (Odds Ratio)"
)

fig.update_layout(xaxis_title='Odds Ratio', yaxis_title='')
fig.show()

## Predict

In [ ]:
def make_prediction(row):

    data = {
        "CreditScore": row[0],
        "Geography": row[1],
        "Gender": row[2],
        "Age": row[3],
        "Tenure": row[4],
        "Balance": row[5],
        "NumOfProducts": row[6],
        "HasCrCard": row[7],
        "IsActiveMember": row[8],
        "EstimatedSalary": row[9]
    }

    df_predict = pd.DataFrame(data, index=[0])
    prediction_dt = model_dt.predict(df_predict)[0]
    prediction_rf = model_rf.predict(df_predict)[0]
    prediction_lr = model_lr.predict(df_predict)[0]
    return f"Decision Tree: {prediction_dt}; Random Forest: {prediction_rf} Logistic Regression: {prediction_lr}"

In [ ]:
print(make_prediction(pd.Series([619, 'France', 'Female', 42, 2, 0, 1, 1, 1, 101348.88]))) # Should output 1
print(make_prediction(pd.Series([608, 'Spain', 'Female', 41, 1, 83807.86, 1, 0, 1, 112542.58]))) # Should output 0

In [ ]:
import joblib
# Save Model
joblib.dump(model_rf, '../../artifacts/model_1.pkl')

# Dash App

In [ ]:
import dash
from dash import dcc, html
from dash.dependencies import Input, Output
import joblib
import pandas as pd

# Load the trained model
model = joblib.load("../../artifacts/model_1.pkl")

# Initialize the Dash app
app = dash.Dash(__name__)

# Define the layout of the app
app.layout = html.Div([
    html.H1("Customer Churn Prediction"),

    html.Label("Credit Score"),
    dcc.Input(id="creditScore", type="number", value=619),

    html.Label("Geography"),
    dcc.Dropdown(
        id="geography",
        options=[
            {'label': 'France', 'value': 'France'},
            {'label': 'Spain', 'value': 'Spain'},
            {'label': 'Germany', 'value': 'Germany'}
        ],
        value='France'
    ),

    html.Label("Gender"),
    dcc.Dropdown(
        id="gender",
        options=[
            {'label': 'Male', 'value': 'Male'},
            {'label': 'Female', 'value': 'Female'}
        ],
        value='Female'
    ),

    html.Label("Age"),
    dcc.Input(id="age", type="number", value=42),

    html.Label("Tenure"),
    dcc.Input(id="tenure", type="number", value=2),

    html.Label("Balance"),
    dcc.Input(id="balance", type="number", value=0),

    html.Label("Num Of Products"),
    dcc.Input(id="products", type="number", value=1),

    html.Label("Has Credit Card"),
    dcc.Input(id="card", type="number", value=1),

    html.Label("Is Active Member"),
    dcc.Dropdown(
        id="member",
        options=[
            {'label': 'Yes', 'value': 1},
            {'label': 'No', 'value': 0}
        ],
        value=1
    ),

    html.Label("Estimated Salary"),
    dcc.Input(id="salary", type="number", value=101348.88),

    html.Button("Predict", id="predict_button", n_clicks=0),
    html.Div(id="prediction_output")
])

# Define callback to update prediction result
@app.callback(
    Output("prediction_output", "children"),
    [Input("predict_button", "n_clicks")],
    [Input("creditScore", "value"),
     Input("geography", "value"),
     Input("gender", "value"),
     Input("age", "value"),
     Input("tenure", "value"),
     Input("balance", "value"),
     Input("products", "value"),
     Input("card", "value"),
     Input("member", "value"),
     Input("salary", "value")]
)
def update_prediction(n_clicks, creditScore, geography, gender, age, tenure, balance, products, card, member, salary):
    if n_clicks > 0:
        # Preprocess input data
        data = pd.DataFrame({
            "CreditScore": [creditScore],
            "Geography": [geography],
            "Gender": [gender],
            "Age": [age],
            "Tenure": [tenure],
            "Balance": [balance],
            "NumOfProducts": [products],
            "HasCrCard": [card],
            "IsActiveMember": [member],
            "EstimatedSalary": [salary]
        })
        # Make prediction
        prediction = model.predict(data)[0]
        return html.Div(f"Exited: {'Yes' if prediction == 1 else 'No'}")
    else:
        return ""

# Run the app
if __name__ == "__main__":
    app.run_server(debug=True)